/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #4C97FF;
  margin: auto;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid rgb(35, 104, 199);
  width: 80%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: lightgrey;
  text-decoration: none;
  cursor: pointer;
}